body {
    background-image: url('../Images/NebulaBackground.jpg');
}

h1 {
    color: rgb(136, 245, 63); text-align: center;
}

nav {
    text-align: center;
}

.top {
    background-image: url('../Images/dungeonwalls.jpg');
    height: 80%;
    width: 30%;
    padding: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}