body {
    background-image: url('../Images/dungeonwalls.jpg');
}

h1 {
    color: rgb(136, 245, 63); text-align: center;
}

h3 {
    color: rgb(136, 245, 63); text-align: center;
}

nav {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

article {
    color: rgb(0, 204, 68);
    text-align: center;
    font-size: 20px;
    margin: 150px;
}

aside {
    background-color: black;
    color: white;
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    border-radius: 20px;
}

.history {
    text-align: left;
    font-size: 20px;
    margin: 150px;
    color: rgb(0, 204, 68);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}